<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - &quot;Next&quot; to each other, but not _next_ to each other</title>

    {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

        <link rel="stylesheet"  type="text/css" href="static/css/patient.css">

<link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">
<div class="layout">
  <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
  <div class="page home-page">
    <div class="page-contents">
      <h1>Visualisation</h1>
    <div>
       {% if chart %}
           <img src="data:image/png;base64, {{ chart|safe }}" width="600">
     {% endif %}
    </div>

      <p><label for="about">Add patient</label></p>
    </div>
  </div>
  <label class="nav" for="home">
    <span>
      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
      Visualisation
    </span>
  </label>

  <input name="nav" type="radio" class="about-radio" id="about" />
  <div class="page about-page">
    <div class="page-contents">

     <div>


<table align="center" cellpadding = "10">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
<!----- First Name ---------------------------------------------------------->
<tr>
<td>Nom</td>
<td><input type="text" name="First_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Last Name ---------------------------------------------------------->
<tr>
<td>Prenom</td>
<td><input type="text" name="Last_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Date Of Birth -------------------------------------------------------->
<tr>
<td>Date de naissance</td>

<td>
<input type="date" id="start_date" name="start_date">
</td>
</tr>

<!----- Ville ---------------------------------------------------------->
<tr>
<td>Ville</td>
<td><input type="text" name="Ville" maxlength="100" /></td>
</tr>

<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>Numero de telephone</td>
<td>
<input type="text" name="Mobile_Number" maxlength="10" />
(10 digit number)
</td>
</tr>

<!----- Gender ----------------------------------------------------------->
<tr>
<td>Genre</td>
<td>
Homme <input type="radio" name="Gender" value="Male" />
Femme <input type="radio" name="Gender" value="Female" />
</td>
</tr>

<!----- Address ---------------------------------------------------------->
<tr>
<td>Adresse <br /><br /><br /></td>
<td><textarea name="Address" rows="4" cols="30"></textarea></td>
</tr>

<!----- CIN ---------------------------------------------------------->
<tr>
<td>CIN</td>
<td><input type="text" name="CIN" maxlength="30" />
(max 30 characters a-z and A-Z)
</td>
</tr>


<!----- Country ---------------------------------------------------------->
<tr>
<td>Date visite</td>
<td><input type="date" name="date_visite" id="date_visite" /></td>
</tr>


<!----- Qualification---------------------------------------------------------->
<tr>
<td>X-RAY image<br /><br /><br /><br /><br /><br /><br /></td>
    <td><input name="image" type="file" ></td>
<td>

</td>
</tr>

<!----- Results ---------------------------------------------------------->
<tr>
<td>Resultat de prediction</td>

<td>

</td>
</tr>

<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="submit">
</td>
</tr>
    </form>
</table>

</form>


     </div>

    </div>
  </div>
  <label class="nav" for="about">
    <span>
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line></svg>
    Add Patients
      </span>
    </label>

  <input name="nav" type="radio" class="contact-radio" id="contact" />
  <div class="page contact-page">
    <div class="page-contents">
      <h1>Patients</h1>
      <p>Eaque accusamus magnam error unde nam, atque provident omnis fugiat quam necessitatibus vel nulla sed quibusdam fuga veritatis assumenda alias quidem asperiores?</p>
      <p><a href="#">Get in touch</a></p>
    </div>
  </div>
  <label class="nav" for="contact">
    <span>
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
    Patients
      </span>
    
  </label>
</div>
<!-- partial -->
  
</body>
</html>
