<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <base href="/">
      {% load static %}
    <link rel="stylesheet"  type="text/css" href="static/css/homestyle.css">

<link rel="stylesheet" type="text/css" href="static/css/style3.css">

</head>
<header>

	<nav class="menu">

  <nav class="connexion">
      <i class="fas fa-search"></i>
    <a href="connexion">Home</a>
    <i class="fas fa-search"></i>
    <a href="visualisation">Visualisation</a>
      <i class="fas fa-search"></i>
    <a href="patient">Add patient</a>
      <i class="fas fa-search"></i>
    <a href="patients">Patients</a>
  </nav>

    </nav>

</header>

<body>
<br><br>
<div class="container">
<h1>Les patients</h1>
  <table class="rwd-table">
    <tbody>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Genre</th>
        <th>Date de visite</th>
          <th>Statut</th>
      </tr>
 {% block content %}

{% for x in patients %}
 <tr>
        <th>{{ x.nom }}</th>
        <th>{{ x.prenom }}</th>
        <th>{{ x.gender }}</th>
        <th>{{ x.date_visite }}</th>
        <th>{{ x.tuberculosis }}</th>
      </tr>
    {% endfor %}

{% endblock content %}
    </tbody>
  </table>
</div>
</body>
</html>
